body {
   background-color:rgb(178, 180, 180);
}

p.top {
    text-align: center;
}

.button1 {
    background: #FDFAC6;
    background-image: -webkit-linear-gradient(top, #FDFAC6, #B4F500);
    background-image: -moz-linear-gradient(top, #FDFAC6, #B4F500);
    background-image: -ms-linear-gradient(top, #FDFAC6, #B4F500);
    background-image: -o-linear-gradient(top, #FDFAC6, #B4F500);
    background-image: -webkit-gradient(to bottom, #FDFAC6, #B4F500);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 30px;
    font-weight: 100;
    padding: 38px;
    -webkit-box-shadow: 1px 1px 6px 2px #000000;
    -moz-box-shadow: 1px 1px 6px 2px #000000;
    box-shadow: 1px 1px 6px 2px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: groove #0059A0 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button1:hover {
    border: inset #B4F500 0;
    background: #B4F500;
    background-image: -webkit-linear-gradient(top, #B4F500, #FDFAC6);
    background-image: -moz-linear-gradient(top, #B4F500, #FDFAC6);
    background-image: -ms-linear-gradient(top, #B4F500, #FDFAC6);
    background-image: -o-linear-gradient(top, #B4F500, #FDFAC6);
    background-image: -webkit-gradient(to bottom, #B4F500, #FDFAC6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }