<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Faço Transpote</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <a href="/"><img src="../static/img/logo.png" alt="achei van"></a>
            <h3>Faço Transporte</h3>
        </header>
        <main>
            <form>
                <select name="Estado" id="">
                    <option value="SP">São Paulo</option>
                </select>
            </form>
        </main>
    </body>
</html>